body.suit_layout_vertical #header #branding {
  background-color: #295E7B;
}

body.suit_layout_vertical #suit-nav {
  background-color:  #295E7B;
}

body.suit_layout_vertical #header .suit-user-tools {
  background-color: #295E7B;
}

body.suit_layout_vertical #suit-nav > ul > li.active {
  background-color: #4698C4;
}

body.suit_layout_vertical #suit-nav > ul > :hover {
  background-color: #10232E;
}

body.suit_layout_vertical #suit-nav > ul > li:not(.active):hover {
  background-color: #4698C4;
}

#result_list thead > tr th, .tabular table thead > tr th, table#change-history thead > tr th {
  background-color: #295e7b;
}

#changelist #changelist-filter h3 {
  background-color: #295e7b;
}

body.suit_layout_vertical #suit-nav > ul > li > ul > li a {
  color: #10232E;
}

body.suit_layout_vertical #suit-nav > ul > li:not(.active):hover > ul > li > a:hover {
  background-color: #4698C4;
  color:#fff;
}

#content-main > .object-tools > li > a:not([class*="btn-"]).addlink {
  background-color: #295e7b;
  border-color: #295e7b;
}

.fa {
  color: #ffffff;
}